{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>DASHBOARD</span> </h1>
        {# <nav>
          <a href="#" class="menu-item">Date</a>
          <a href="#" class="menu-item">Clients</a>
          <a href="#" class="menu-item">Sections</a>
          <a href="#" class="menu-item">Products</a>
        </nav> #}
      </div>
      <div class="wrapper">

{% endblock %}
